.loginform {
    background-color: rgb(40, 40, 40);
    border-radius: 6px;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

.messagesection {
    width: 100%;
    height: 80vh;
    background-color: rgb(38, 38, 38);
    display: flex;
}

.chats {
    width: 100%;
}

.innermessage {
    display: flex;
    position: relative;
    width: 100%;
}

.innermessage2 {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 50px;
    scroll-behavior: smooth;
    padding: 10px;
}

.eachmessage {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.avatarprofile {
    margin-left: 0.25rem;
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

.messagecontainer {
    background-color: rgb(49, 74, 33);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.messagecontainer2 {
    background-color: rgb(88, 40, 90);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.messageinputbox{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 45px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 4px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.emojicontainer {
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 50%;
    height: 200px;
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
}

.emojidisplay {
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.sendingbtngroup {
    display: flex;
}

.userlistouter {
    width: 30%;
    height: 80vh;
    padding: 10px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    background-color: rgb(42, 42, 42);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.userlistinner {
    list-style: none;
}

.eachuserlist {
    padding: 1px;
    margin-bottom: 10px;
}

.userlist {
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.userlistprofilepic {
    border-radius: 30px;
    width: 31px;
    height: 31px;
}

.logomain {
    width: 100px;
}

.headerchat {
    border-bottom: 1px solid gray;
    background-color: rgb(36, 36, 36);
    border-top: 10px;
    height: 60px;
    display: flex;
}

.headeritem {
    width: 100%;
    display: flex;
    padding: 10px;
}

.containerouter {
    height: 100vh;
    background-color: rgb(27, 27, 27);
}

.containerinner {
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.chatinner {
    margin-top: 40px;
    display: flex;
    width: 75%;
    flex-direction: column;
}

.chatcontent {
    align-content: center;
    justify-content: center;
    display: flex;
}

.chatname {
    font-size: 11px;
}